.logo {
  width: 227px;
  height: 48px;
  margin-top: 40px;
}
.border-gradient-purple {
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}
.border-gradient {
  border-style: solid;
  border-width: 5px;
  border-image: linear-gradient(99.46deg, #9dfe00 -10.9%, #14d9e6 97.14%);
}
.span-one::before {
  background-image: "./assets/bubble.png";
}

@font-face {
  font-family: "TTTravels-Bold";
  src: url("./assets/fonts/TTTravels-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "TTTravels-Bold-Italic";
  src: url("./assets/fonts/TTTravels-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "TTTravels-Medium";
  src: url("./assets/fonts/TTTravels-Medium.ttf") format("truetype");
}
.span-one {
  font-family: "TTTravels-Bold-Italic";
  font-style: italic;
}
.span-two {
  background: -webkit-linear-gradient(#9dfe00, #14d9e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.span-three {
  font-family: "TTTravels-Bold-Italic";
  font-style: italic;
}
.bubble {
  position: absolute;
  z-index: 1;
  margin: 0;
  padding: 0;
  top: -110px;
  left: -160px;
}
.gun {
  position: absolute;
  top: 0;
  /* left: 50; */
  right: -30px;
  z-index: -50;
}
.home-content {
  background-image: url("./assets/Spiral\ Element.png");
  background-repeat: no-repeat;
  right: 0;
  bottom: 0;
}
